.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
*.ppm
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/output/
venv/
.cline_storage/
__pycache__/
*.pyc
